# Ignore Eclipse project metadata everywhere
.project
.settings/
.asciidoctorconfig.adoc
.classpath
.factorypath
target/

gps-book.adoc
gps-book.html

./src/asciidoc/.asciidoctor/diagram
# Ignore generated SVG cache files
*.svg.cache
