# Ignore Eclipse project metadata everywhere
.project
.settings/
.asciidoctorconfig.adoc
.classpath
.factorypath
target/

./src/asciidoc/.asciidoctor/diagram
# Ignore generated SVG cache files
*.svg.cache